{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}
  <div class="secure">
      <h1>Secure Page</h1>
      <p>
        A customer walked into my clothing shop and asked to see the pants that were advertised in the paper that day. “We don’t have an ad in the paper today,” I told her. She insisted I was wrong, so I got a copy of the paper, and we went through it, eventually landing on an ad for pants from another local store. Exasperated, the customer glared at me and said, “In my newspaper, the ad was for this store!
      </p>
  </div>
{% endblock %}
